body {
		background: url(https://40.media.tumblr.com/c53a0a3b4d9d99cc7b7b1116f2b14e14/tumblr_nz0n4xbNkc1ufg99no1_400.png);
		background-repeat: no-repeat;
		background-position: left bottom;
	}
	h1 {
		color: #26A65B;
		font-size: 40pt;
		font-family: 'Open Sans', sans-serif;
		text-align: center;
	}
	.intro {
		color: black;
		font-size: 13pt;
		font-family: 'Gentium Basic', serif;
		text-align: center;
		padding: 5px 150px 30px 150px;
	}
	img.center {
		display: block;
		margin-left: auto;
		margin-right: auto;
		height: 300px;
		width: 300px;
		border-radius: 150px;
		box-shadow: 12px 12px 29px #555;
	}
	h2 {
		color: #7ad744;
		font-size: 16pt;
		font-family: 'Open Sans', sans-serif;
		text-align: center;
		padding: 10px 70px 0px 70px;
	}
	.desc {
		color: black;
		font-size: 17px;
		font-family: 'Gentium Basic', serif;
		text-align: center;
		padding: 0px 400px 0px 400px;
	}
}
