body {
		background: url(https://40.media.tumblr.com/c53a0a3b4d9d99cc7b7b1116f2b14e14/tumblr_nz0n4xbNkc1ufg99no1_400.png);
		background-repeat: no-repeat;
		background-position: left bottom;
	}
	h1 {
		color: #26A65B;
		font-size: 40pt;
		font-family: 'Megrim', cursive;
		text-align: center;
	}
	.intro {
		color: black;
		font-size: 13pt;
		font-family: 'Lora', serif;
		text-align: center;
		padding: 5px 150px 30px 150px;
	}
	img.center {
		display: block;
		margin-left: auto;
		margin-right: auto;
		height: 300px;
		width: 300px;
		border-radius: 150px;
		box-shadow: 12px 12px 29px #555;
	}
	h2 {
		color: black;
		font-size: 16pt;
		font-family: 'Lora', serif;
		text-align: center;
		font-weight: bold;
		padding: 10px 70px 0px 70px;
	}
	.desc {
		color: black;
		font-size: 16px;
		font-family: 'Lora', serif;
		text-align: center;
		padding: 0px 400px 0px 400px;
	}
	.header {
    margin: 0;
    padding: 50;
    overflow: hidden;
    background-color: #DFD;
    width: cover;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    width: cover;
}

li {
    float: left;
}

li a {
    display: block;
    color: #ddd;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #111;
    color: #fff;
}
.navbar-inverse {
  background-color: rgba(32, 35, 41,0.8);
  padding-top: 20px;
}
.header{
    font-family: 'Megrim', cursive;
    text-align: center;
    font-weight: 900;
}

